<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89007665756-c7fp58mftp6qeplt7ivj50qnlhkvbk8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89007665756-c7fp58mftp6qeplt7ivj50qnlhkvbk8c</string>
	<key>API_KEY</key>
	<string>AIzaSyAAI531cooCAIErBadGoYZ0uuMMSZbUVik</string>
	<key>GCM_SENDER_ID</key>
	<string>89007665756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transferet</string>
	<key>PROJECT_ID</key>
	<string>transferet-relocations</string>
	<key>STORAGE_BUCKET</key>
	<string>transferet-relocations.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89007665756:ios:b95b8d68bc063667d9ac99</string>
	<key>DATABASE_URL</key>
	<string>https://transferet-relocations-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>